@charset "ISO-8859-1";

h1{
	position:absolute;
	text-align:center;
	left:4%;
	top:10%;
	font-size:55px;
}

p{
	position:absolute;
	text-align:center;
	left:20%;
	top:20%;
	font-size:40px;
}

input{
	position:absolute;
	left:35%;
	top:45%;
	width:250px;
	height:40px;
	font-size:20px;
	border: solid;
}

.CONFERMA button[type="submit"]{
	position:absolute;
	border:none;
	outline:none;
	height:40px;
	width:200px;
	background:red;
	color:#fff;
	font-size:18px;
	border-radius:10px;
	top:85%;
	left:80%;
	font-size:20px;
}


.CONFERMA button[type="submit"]:hover
{
	cursor: pointer;
	background:yellow;
	color: #000;
}


.INDIETRO button[type="submit"]{
	position:absolute;
	font-size:20px;
	border-color:blue;
	height:40px;
	width:200px;
	background:white;
	text-decoration:none;
	line-height:10px;
	color:rgb(0,0,128);
	top:86%;
	left:5%;
}

.INDIETRO button[type="submit"]:hover
{
		color:red;	
}