body{
background-image:URL("../img/colori.jpg");
background-size:cover;
}

.titolo{
  position:absolute;
  font-size: 30px;
  top:1%;
  left: 35%;
  color:#000;
  text-align:center;
}

.NomeCaritas{
  position:absolute;
  font-size: 20px;
  top:24%;
  left: 10%;
  color:#000;
  text-align:center;
}

.citta{
  position:absolute;
  font-size: 20px;
  top:24%;
  left: 40%;
  color:#000;
  text-align:center;
}

.fine{
  position:absolute;
  font-size: 20px;
  top:24%;
  left: 70%;
  color:#000;
  text-align:center;
}

input{
	height:30px;
	width:250px;
}

input [type="checkbox"]{
	height:30px;
	width:30px;
}


.via input{
	
	height:30px;
	width:240px;
	
}

.n input{
	position:absolute;
	height:30px;
	width:30px;
	top:89%;
	left:85%
	
}

.box button[type="submit"]
{
	position:absolute;
	border: none;
	outline:none;
	height: 40px;
	background: red;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
	top:85%;
	left: 70%;
	
}
.box button[type="submit"]:hover
{
	cursor: pointer;
	background: yellow;
	color: #000;
}

a{
	position:absolute;
	font-size:18px;
	text-decoration:none;
	line-height:20px;
	color: rgb(0,0,128);
	top:85%;
	left:5%;
}

a:hover{
	color:#ffc107;
}
